body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./images/background.jpg'); /* Замени 'background.jpg' на путь к своему изображению */
  background-size: cover;
}

.slot-machine {
  position: relative;
}

canvas {
  border: 5px solid black;
  background-color: #add8e6;
  margin: 5px;
  display: block;
  margin: 0 auto;
}

button {
  display: block;
  margin: 20px auto;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
