canvas {
  border: 5px solid black;
  background-color: #add8e6; /* Цвет воды */
  margin: 5px; /* Расстояние от барабанов до границы канваса */
}

#slotCanvas {
  display: block;
  margin: 0 auto; /* Центрируем канвас по горизонтали */
}

button {
  display: block;
  margin: 20px auto; /* Центрируем кнопку по горизонтали */
}

.slot-image {
  width: 500px; /* Ширина изображений */
  height: 500px; /* Высота изображений */
  margin-bottom: 10px; /* Расстояние между изображениями */
}
